// Size
$min_width: 320px;
$max_width: 1200px;

// fonts
$default-font: Avenir, Helvetica, Arial, sans-serif;

// typography styles
$typography-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  blackbold: 900
);
$typography-sizes: (
  smallest: 12px,
  small: 14px,
  standard: 16px,
  medium: 20px,
  large: 22px,
  largest: 26px
);

//breakpoints
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;

// backgrounds
$dark-bg: #262624;
$light-bg: #E4EDF2;

// colors
$main-color: #fff;
$accent-color: #0F4C81;
$info-color: #D5242C;
$extra-color: #8F241F;

// typography colors
$white-text: #ffffff;
$black-text: #000000;
$light-text: #96C0CC;
$dark-text: #5F6262;

// Themes
$themes: (
  classic: (
    bg: #efefef,
    progress: $info-color,
    text: $dark-text,
    btn-next: linear-gradient(270deg, #d5242c 0%, #ff1b25 100%),
    btn-prev: #888888,
    btn-text: white,
    card-text: $dark-text,
    card-bg: white,
    card-text-active: white,
    card-bg-active: $info-color,
    list-item-active: $info-color,
    request-title: $info-color,
    request-text: $dark-text
  ),
  amethyst: (
    bg: #1e4970,
    progress: #b6247f,
    text: white,
    btn-next: #b6247f,
    btn-prev: #133970,
    btn-text: white,
    card-text: $dark-text,
    card-bg: white,
    card-text-active: white,
    card-bg-active: #b6247f,
    list-item-active: #b6247f,
    request-title: #b6247f,
    request-text: white
  )
);

// Notifies
$notify-colors: (
  validation: (
    error: red,
    info: blue,
    dump: black
  ),
  notify: (
    error: red,
    info: blue,
    dump: black
  ),
  loading: (
    icon: $info-color
  )
);

// // Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
// $grid-gutter-width: 30px;
// $grid-columns: 12;
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
// $container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

// $gutter: $grid-gutter-width;
